{% extends "modelo.html" %}
{% block conteudo %}

<body class="bg-dark text-light"></body>

    <h2>Glossário de Termos</h2>
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thead-default">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Termo</th>
                <th scope="col">Definição</th>

            </tr>
        </thead>
        <tbody>
            {% for termo, definicao in glossario %}
            <td>
    <a href="{{ url_for('editar_termo', indice=loop.index0) }}" class="btn btn-warning btn-sm">Editar</a>
    <form action="{{ url_for('excluir_termo', indice=loop.index0) }}" method="post" style="display:inline;">
        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</button>
    </form>
            </td>

                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ termo }}</td>
                    <td>{{ definicao }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="{{ url_for('novo_termo') }}" class="btn btn-primary">Adicionar Novo Termo</a></p>
{% endblock %}
