{% extends "modelo.html" %}
{% block conteudo %}
<body class="bg-dark text-light"></body>

<div class="card shadow-lg p-4 mb-5 bg-body rounded text-center" style="max-width: 600px; margin: 30px auto;">
  <div class="d-flex flex-column align-items-center">

    <h4 class="card-title fw-bold">Gustavo Chagas</h4>
    <h6 class="card-subtitle mb-2 text-muted">Estudante de Sistemas para Internet</h6>
    <p class="card-text">Equipe: Gustavo Chagas</p>

    <div class="d-flex justify-content-center align-items-center gap-2 mt-3 flex-wrap">
      <a href="https://github.com/guustavo-chagas" class="btn btn-outline-primary btn-sm" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-github"></i> GitHub
      </a>
      <a href="https://www.linkedin.com/in/gustavo-nascimento-3ab925364/" class="btn btn-outline-info btn-sm" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-linkedin"></i> LinkedIn
      </a>
      <a href="https://www.instagram.com/gucnz_/" class="btn btn-outline-danger btn-sm" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-instagram"></i> Instagram
      </a>
    </div>
  </div>
</div>




{% endblock %}